.*
/config
/data
/dev
/test.js
/UC功能解析.md
/node_modules
# /components/reloadModule.js
/resources/wife
/resources/chuoyichuo
/resources/unNecRes
/system/UC-plugin-decrypt/
/apps/accredit.js
/apps/BdynamicPush.js
/apps/test.js
/apps/vitsAI.js
/apps/upload.js
/apps/searchNovel.js
/apps/QA.js
/apps/atMute.js
/apps/chuoMute.js
/apps/ji.js
/apps/card.js
