@font-face {
    font-family: "SourceHanSansCN-Heavy";
    src: url("../../fonts/SourceHanSansCN-Heavy.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SourceHanSansCN-Heavy";
    font-size: 36px;
}

#container {
    background-size: cover;
    background-color: #b7eeff;
    /* border: 10px solid rgb(105, 180, 255); */
    width: 1300px;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: inherit;
    filter: blur(5px);
    z-index: 0;
}

.topdiv {
    width: 1300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-top: 50px;
}

.topdiv div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
}

.wl {
    border-radius: 100%;
    position: absolute;
}

.dsw {
    top: -70px;
    left: 100px;
}

.bqd {
    top: 0px;
    width: 200px;
    height: 200px;
}

.shwz {
    top: -48px;
    left: 66px;
    width: 300px;
    height: 300px;
}

.topdiv div span {
    margin-top: 10px;
    width: 400px;
    text-align: center;
    z-index: 10;
}

.name {
    color: transparent;
    background-image: linear-gradient(to right, #001bff, #00f0ff, #ff2600, #ffe100, #7300ff, #00ff88);
    -webkit-background-clip: text;
    background-clip: text;
}

.desc {
    font-size: 24px;
    color: #1d2b2f;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 0px;
}

th,
td {
    text-align: center;
    padding: 20px;
    /* border-top: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 2px solid #ccc; */
    position: relative;
}

td img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10%;
}

td:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container>table>tbody>tr:nth-child(2)>td:nth-child(1)::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../../img/sqtj/金牌.png);
    position: absolute;
    top: 17%;
    left: 34%;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#container>table>tbody>tr:nth-child(3)>td:nth-child(1)::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../../img/sqtj/银牌.png);
    position: absolute;
    top: 17%;
    left: 32%;
    background-size: 50px 60px;
    background-repeat: no-repeat;
}

#container>table>tbody>tr:nth-child(4)>td:nth-child(1)::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../../img/sqtj/铜牌.png);
    position: absolute;
    top: 17%;
    left: 27%;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#container>table>tbody>tr:nth-child(2)>td:nth-child(2)::after {
    background-image: url(../../img/sqtj/第一.png);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -4%;
    left: 9%;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#container>table>tbody>tr:nth-child(3)>td:nth-child(2)::after {
    background-image: url(../../img/sqtj/第二.png);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -4%;
    left: 9%;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

#container>table>tbody>tr:nth-child(4)>td:nth-child(2)::after {
    background-image: url(../../img/sqtj/第三.png);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -4%;
    left: 9%;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.logo {
    font-size: 24px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
}